; Managed by Ansible
zend_extension=opcache
opcache.enable=1
opcache.enable_cli=0
opcache.memory_consumption={{ opcache_memory_consumption | default(128) }}
opcache.interned_strings_buffer={{ opcache_interned_strings_buffer | default(16) }}
opcache.max_accelerated_files={{ opcache_max_accelerated_files | default(10000) }}
opcache.revalidate_freq={{ opcache_revalidate_freq | default(60) }}
opcache.validate_timestamps=1
opcache.save_comments=1
